<h1>Listing video_games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Console</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @video_games.each do |video_game| %>
      <tr>
        <td><%= video_game.name %></td>
        <td><%= video_game.console %></td>
        <td><%= video_game.year %></td>
        <td><%= link_to 'Show', video_game %></td>
        <td><%= link_to 'Edit', edit_video_game_path(video_game) %></td>
        <td><%= link_to 'Destroy', video_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video game', new_video_game_path %>
